<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="position: sticky; background-color: royalblue;">
  <div class="container">
    <a class="navbar-brand me-2" style="display: flex; align-items: center;">
      <img 
        src="https://w7.pngwing.com/pngs/719/95/png-transparent-ness-technologies-teaneck-business-logo-sk-blue-text-service.png"
        height="45"
        alt="SPN Logo"
        loading="lazy"
        style="border-radius: 50%; margin-right: 10px; object-fit: cover; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);"
      />
      <span style="color: white; font-size: 24px;">SPN</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

      <div class="d-flex align-items-center">
        <button type="button" class="btn px-3 me-4" routerLink="/login">Login</button>
        <button type="button" class="btn me-3" routerLink="/">Register</button>
      </div>
    </div>
  </div>
</nav>
